<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container pb50">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 mb40">
            <article>
              
                <div class="post-content">
                  <ul class="post-meta list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i> 23 Jan 2022
                    </li>
                </ul>
                
                    <h3>PÁLIDOS NA SIC NOTÍCIAS</h3>
                    
                    <p>O jornalista Nuno Rogeiro, sugeriu em direto o novo álbum dos Pálidos "Fim do Nada" </p>
                    <p class="lead">Vê em baixo esse momento.</p>

                     
                    <video width="100%" controls>
                        <source src="assets/news/nuno-rogeiro.mp4" type="video/mp4">
                    </video>

                    <ul class="list-inline share-buttons">
                        <li class="list-inline-item">Share Post:</li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:4200/news/fim-do-nada-album-de-estreia-dos-palidos" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="news/fim-do-nada-album-de-estreia-dos-palidos" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        
                    </ul>
                    
                    
                </div>
            </article>
            <!-- post article-->

        </div>
     </div>
</div>