<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container pb50">
    <div class="row">
        <div class="col-md-9 mb40">
            <article>
                <div style="width: 80%; margin: 15px" class="img-container">
                    <img src="assets/news/palidos.jpg" alt="Fim-do-nada" class="center"></div>
               
                    <div class="post-content">
                  <ul class="post-meta list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i> 17 Dez 2021
                    </li>
                </ul>
                
                    <h3>WEBSITE FESTIVAL DA NOÇÃO AVALIA "FIM DO NADA"</h3>
                    
                    <p>Num artigo redigido por Rui Torres, diz-nos que "os Pálidos ganham cor e levam-nos numa expedição até aos recantos mais bonitos e puros daquele que é o rock mais convencional e fiel."</p>
                    
                    <p>Acrescenta "As cordas das guitarras são sedutoras demais para ficarmos indiferentes. As camadas sonoras são vastas e, com elas, vem aquela que é uma complexidade harmoniosa só possível de ser obtida quando, a par com o talento, existe o bom gosto. O bom gosto existe, não sabiam? Se não sabiam, fiquem a saber que os Pálidos sabem. Os solos que nos invadem são sistemáticos, o palco para os solos é quase que construído através de um blues adjacente àqueles que são os ritmos impostos pela bateria e pelas teclas. O baixo é o nosso piloto, aquele que pega em todos os instrumentos e nos leva até à vibração das guitarras, ora rítmicas, ora espremidas até ao tutano. Existe uma cronologia descarada na construção deste álbum, o que culmina naquela que é uma ideia muito bem conseguida e projetada. Este álbum de praxe está tão lindo… Fossem todas as praxes assim, sem ovos e repletas de sabor!"</p>
                    <p class="lead">Para lerem a crítica completa, sigam o link em baixo.</p>
        <html>
            <body>
                <a href="https://festivaldanocao.pt/2022/01/11/palidos-fim-do-nada/" target="_blank">REVIEW COMPLETA AQUI</a> 
            </body>
        </html>

                    <ul class="list-inline share-buttons">
                        <li class="list-inline-item">Share Post:</li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:4200/news/fim-do-nada-album-de-estreia-dos-palidos" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="news/fim-do-nada-album-de-estreia-dos-palidos" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        
                    </ul>
                    
                    
                </div>
            </article>
            <!-- post article-->

        </div>
     </div>
</div>