
<div class="py-2"></div>
<h1>Música</h1>
<div class="py-3"></div>

<div style=" display: flex;justify-content: center;">

  <div style="width: 30%; margin: 50px" class="img-container">
    <a routerLink="/music/epa-lindo" routerLinkActive="active">
    <img src="assets/cover1.png" width="100%" class="image" height="100%">
    <div class="middle">
      <div class="text relevance">EPá Lindo [EP]</div>
      <div class="text">21/12/2019</div>
    </div>
    </a>
  </div >

  <div  style="width:30%; margin: 50px" class="img-container">
    <a routerLink="/music/no-mar-de-marte" routerLinkActive="active">
    <img src="assets/cover2.jpg" width="100%" class="image" height="100%">
    <div class="middle">
      <div class="text relevance">No Mar de Marte [EP]</div>
      <div class="text">29/08/2020</div>
    </div>
    </a>
  </div>


  <div  style="width:30%; margin: 50px" class="img-container">
    <a routerLink="/music/fim-do-nada" routerLinkActive="active">
    <img src="assets/fim-do-nada.png" width="100%" class="image" height="100%">
    <div class="middle">
      <div class="text relevance">Fim do Nada [LP]</div>
      <div class="text">17/12/2021</div>
    </div>
    </a>
  </div>
</div>