h1{
    text-align: center;
  }
  
  .img-container:hover .image {
    flex-wrap:wrap;
    opacity: 0.3;
  }
  
  .img-container:hover .middle {
    flex-wrap:wrap;
    opacity: 1;
  }
  
  .middle {
    flex-wrap:wrap;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .img-container {
    flex-wrap:wrap;
    display: flex;
    position: relative;
    width: 50%;
  }
  
  

  .relevance{
    font-size: 20px;
    font-weight: bold;
  }

  @media (max-width: 400px) {
    .text {
      font-size: 8px;
    }
    .relevance{
      font-size: 10px;
      font-weight: bold;
    }
  }

  @media (max-width: 800px) {
    .relevance{
      font-size: 15px;
      font-weight: bold;
    }
    .text {
      font-size: 10px;
    }
  }

  div{
    padding-top: 25px;
     }
  