<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="col-md-12">
        <div class="py-3"></div>
        <h1>EPá Lindo [EP]</h1>
        <div class="py-4"></div>
        <div style="display: flex; flex-wrap: wrap; flex-direction: row">
          <div style="margin: auto; margin-top: 0; display: flex; flex-direction: column">
            <iframe style="border: 0; width: 350px; height: 350px;"
              src="https://bandcamp.com/EmbeddedPlayer/album=712272643/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/"
              seamless><a href="https://palidosbanda.bandcamp.com/album/ep-lindo">EPá Lindo by Pálidos</a></iframe>
            <a href="https://palidosbanda.bandcamp.com/album/ep-lindo" class="btn btn-primary" target="_blank"><span
                class="glyphicon glyphicon-credit-card"></span> Comprar</a>
            <p>Lançamento: 21 de Dezembro de 2019</p>
          </div>

          <div style="margin-left: 15px; margin-right: 15px; display: flex; flex-flow: column">
            <h4>Alinhamento</h4>
            <table class="table">
              <tbody>
                <tr>
                  <td>01</td>
                  <td>Dar Vida</td>
                  <td>05:33</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>Cogumelo</td>
                  <td>04:49</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>Bolacha</td>
                  <td>04:05</td>
                  <td>A. Guerreiro, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>04</td>
                  <td>Arret</td>
                  <td>04:38</td>
                  <td>A. Guerreiro, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>05</td>
                  <td>Fronteira</td>
                  <td>05:01</td>
                  <td>A. Guerreiro, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
              </tbody>
            </table>
            <h4>Membros</h4>
            <table class="table">
              <tbody>
                <tr>
                  <td>André Guerreiro</td>
                  <td>Baixo, vozes</td>
                </tr>
                <tr>
                  <td>Cláudio Pascoal</td>
                  <td>Teclado</td>
                </tr>
                <tr>
                  <td>João Afonso</td>
                  <td>Guitarra ritmo, vozes</td>
                </tr>
                <tr>
                  <td>Nuno Coelho</td>
                  <td>Guitarra solo, voz principal</td>
                </tr>
                <tr>
                  <td>Manuel Duarte</td>
                  <td>Bateria</td>
                </tr>
              </tbody>
            </table>
            <h4>Produção</h4>
            <table class="table">
              <tbody>
                <tr>
                  <td>Mistura e Masterização</td>
                  <td>Manuel Duarte</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="py-3"></div>

    </div>
  </div>
</div>