h1, h2, h3, h4, p{
    text-align: center;
  }
  
  h4{
    margin-bottom: 15px;
  }
  
  table {
    margin-left: auto;
    margin-right: auto;
  }
  
  tbody tr:nth-child(odd){
    background-color: WhiteSmoke;
  }
  
  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button1:hover {
    background-color: #008CBA;
    color: white;
  }