<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container pb50">
    <div class="row">
        <div class="col-md-9 mb40">
            <article>
                <div style="width: 80%; margin: 15px" class="img-container">
                    <img src="assets/news/palidos.jpg" alt="Fim-do-nada" class="center"></div>
               
                    <div class="post-content">
                  <ul class="post-meta list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i> 5 Jan 2022
                    </li>
                </ul>
                
                    <h3><em>FIM DO NADA</em> É UMA SUGESTÃO DO WEBSITE NORTE-AMERICANO <em>GIRL UNDERGROUND MUSIC</em></h3>
                    
                    <p>O site norte-americano <em>Girl Underground Music</em> sugeriu o novo álbum dos Pálidos, <em>Fim do Nada</em>.</p>
                    
                    <p>Apesar de ser um site com conteúdo só em inglês, não foi por isso que o novo álbum deixou de chamar a atenção.</p>

                    <p>Sobre o álbum escrevem: "A banda de Portugal partilhou o seu álbum de 11 canções no final de Dezembro passado. É uma coleção de jazz e prog que funde uma paisagem sonora com <em>hooks</em> psicadélicos-pop." 
                    Acrescentam ainda que: "Este álbum é um ótimo lavar de palato a caminho do novo ano pelo seu <em>wall of sound</em>, ouvido claramente em <em>Memória Pt.2</em>."   
                    </p>
                    
                        
                    <p class="lead">Para lerem o artigo original, sigam o link em baixo.</p>
        <html>
            <body>
                <a href="https://girlundergroundmusic.com/2022/01/05/new-noise-aztec-brides-mom-friend-nikki-morgan-marion-raw/" target="_blank">ARTIGO ORIGINAL AQUI</a> 
            </body>
        </html>

                    <ul class="list-inline share-buttons">
                        <li class="list-inline-item">Share Post:</li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:4200/news/fim-do-nada-album-de-estreia-dos-palidos" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="news/fim-do-nada-album-de-estreia-dos-palidos" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        
                    </ul>
                    
                    
                </div>
            </article>
            <!-- post article-->

        </div>
     </div>
</div>