<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a routerLink="news/fim-do-nada-album-de-estreia-dos-palidos" routerLinkActive="active">
        <img class="d-block w-100" src="assets/home/title1.png" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="mt-2"><a href="news/fim-do-nada-album-de-estreia-dos-palidos" class="text-dark title"><b>FIM DO NADA - ÁLBUM DE ESTREIA DOS PÁLIDOS</b></a></h5>
          <p class="text-muted mt-2"> Novo LP lançado dia 17 de Dezembro em formato CD e em todas as plataformas digitais. É um álbum conceptual que se foca nas memórias e no tempo.</p>
       </div>
      </a>
    </div>

    <div class="carousel-item">
      <a routerLink="https://festivaldanocao.pt/2022/01/11/palidos-fim-do-nada/" routerLinkActive="active">
        <img class="d-block w-100" src="assets/home/palidos.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="mt-2"><a href="https://festivaldanocao.pt/2022/01/11/palidos-fim-do-nada/" class="text-white"><b>WEBSITE 'FESTIVAL DA NOÇÃO' AVALIA "FIM DO NADA"</b></a></h5>
          <p class="text-white mt-2"> Artigo redigido por Rui Torres, avalia tudo o que gostou acerca do novo álbum.</p>
       </div>
      </a>
    </div>

    <div class="carousel-item">
      <a routerLink="news/palidos-na-sic-noticias" routerLinkActive="active">
      <img class="d-block w-100" src="assets/home/sicn.png" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="mt-2"><a href="news/palidos-na-sic-noticias" class="text-dark title"><b>PÁLIDOS NA SIC NOTÍCIAS</b></a></h5>
          <p class="text-muted mt-2"> Uma sugestão feita pelo jornalista Nuno Rogeiro. <b>Vê aqui o momento!</b></p>
      </div>
      </a>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
