<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item drk active">
      <a routerLink="news/fim-do-nada-album-de-estreia-dos-palidos" routerLinkActive="active">
        <img class="d-block w-100" src="assets/home/title1.png" alt="First slide">
          <div class="carousel-caption">
            <h5 class="mt-2"><a href="news/fim-do-nada-album-de-estreia-dos-palidos" class="text-white title"><b>FIM DO NADA - ÁLBUM DE ESTREIA</b></a></h5>
            <p class="text-light mt-2"> Novo LP lançado dia 17 de Dezembro em formato CD e em todas as plataformas digitais.</p>
          </div>
      </a>
    </div>

    <div class="carousel-item drk">
      <a routerLink="news/website-festival-da-nocao-avalia-fim-do-nada" routerLinkActive="active">
        <img class="d-block w-100" src="assets/home/palidos.png" alt="Second slide">
          <div class="carousel-caption">
          <h5 class="mt-2"><a href="news/website-festival-da-nocao-avalia-fim-do-nada" class="text-white"><b>WEBSITE 'FESTIVAL DA NOÇÃO' AVALIA "FIM DO NADA"</b></a></h5>
          <p class="text-light mt-2"> Artigo redigido por Rui Torres, avalia tudo o que gostou acerca do novo álbum.</p>
          </div>
      </a>
    </div>

    <div class="carousel-item drk">
      <a routerLink="news/palidos-na-sic-noticias" routerLinkActive="active">
      <img class="d-block w-100" src="assets/home/sicn.png" alt="Third slide">
      <div class="carousel-caption">
        <h5 class="mt-2"><a href="news/palidos-na-sic-noticias" class="text-white title"><b>PÁLIDOS NA SIC NOTÍCIAS</b></a></h5>
          <p class="text-light mt-2"> Uma sugestão feita pelo jornalista Nuno Rogeiro. <b>Vê aqui o momento!</b></p>
      </div>
      </a>
    </div>

  </div>
  
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="static-slider10" style="background-image:url(https://i.ibb.co/Z8gMmqd/banda.png">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center ">
      <!-- Column -->
      <div class="col-md-8 align-self-center text-center">
        
        <h1 class="my-3 title text-white text-uppercase">TODAS AS PALIDICES NUM LUGAR SÓ</h1>
        <h6 class="text-white font-weight-normal op-8">Ficas todo pálido!</h6>
        <a class="btn btn-outline-light rounded-pill btn-md mt-3" href="https://linktr.ee/palidos" target="_blank"><span>Segue-nos/ouve-nos na tua plataforma favorita</span></a>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>