<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container pb50">
    <div class="row">
        <div class="col-md-9 mb40">
            <article>
              <div style="width: 50%; margin: 30px" class="img-container">
                <img src="assets/fim-do-nada.png" alt="Fim-do-nada" class="img-fluid mb30"></div>
                <div class="post-content">
                  <ul class="post-meta list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i> 17 Dez 2021
                    </li>
                </ul>
                
                    <h3>FIM DO NADA - ÁLBUM DE ESTREIA DOS PÁLIDOS</h3>
                    
                    <p>Lançado a 17 de Dezembro de 2021, é um álbum conceptual que se foca nas memórias e no tempo; a rotina do quotidiano que todos temos e em que acabamos por nem dar conta do tempo passar; as aprendizagens que vamos tendo ao longo da vida e que ainda há muito para vivermos. O álbum tem a particularidade de “simular” exatamente um dia na nossa vida: começa às 07h da manhã e finaliza às 00h. </p>
                    <p class="lead">É uma coleção jazzística e progressiva que funde uma paisagem sonora com <em>hooks</em> psicadélicos-pop.

                      Dele, foi extraído o single aclamado <em>A Brisa Passa</em>, lançado a 29 de Outubro de 2021, que conta com a participação especial de Pedro Alcoforado no saxofone e onde é possível ver toda a mistura de géneros do jazz ao rock progressivo. Tem ainda a curiosidade de ter sido composta por André Guerreiro, que além das funções de baixista, também assume o solo de guitarra. Conta ainda com mais um convidado: João Fernandes na declamação do poema.
                       </p>
                    <p>As preparações começaram em outubro de 2020, com muitos ensaios e finalizações de composições. As gravações iniciam-se em junho até setembro de 2021– André Guerreiro, baixista da banda, com o cargo de produtor e Pedro ‘O Arauto’ Carvalho como co-produtor e também com a responsabilidade da mistura e masterização. </p>
                    
                    <p>O álbum está disponível em CD e em todas as plataformas streaming</p>

                    <ul class="list-inline share-buttons">
                        <li class="list-inline-item">Share Post:</li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:4200/news/fim-do-nada-album-de-estreia-dos-palidos" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="news/fim-do-nada-album-de-estreia-dos-palidos" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        
                    </ul>
                    
                    
                </div>
            </article>
            <!-- post article-->

        </div>
     </div>
</div>