<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container mt-100 mt-60">
    <div class="row">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <p></p>
                <h4 class="title mb-4">Notícias</h4>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="blog-post rounded border">
                <div class="blog-img d-block overflow-hidden position-relative">
                    <img src="https://via.placeholder.com/350x280/FF7F50/000000" class="img-fluid rounded-top" alt="">
                    <div class="overlay rounded-top bg-dark"></div>
                    <div class="post-meta">
                        <a href="javascript:void(0)" class="text-light d-block text-right like"><i class="mdi mdi-heart"></i> 33</a>
                        <a href="javascript:void(0)" class="text-light read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <div class="content p-3">
                    <small class="text-muted p float-right">19th Oct, 19</small>
                    <small><a href="javascript:void(0)" class="text-primary">Marketing</a></small>
                    <h4 class="mt-2"><a href="javascript:void(0)" class="text-dark title">Quick guide on business with friends.</a></h4>
                    <p class="text-muted mt-2">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space.</p>
                    <div class="pt-3 mt-3 border-top d-flex">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                        <div class="author mt-2">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark name">Lisa Marvel</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end blog post-->
        </div><!--end col-->
        <!-- -->
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="blog-post rounded border">
                <div class="blog-img d-block overflow-hidden position-relative">
                    <img src="assets/news/palidos.jpg" class="img-fluid rounded-top" alt="">
                    <div class="overlay rounded-top bg-dark"></div>
                    <div class="post-meta">
                        <a href="https://festivaldanocao.pt/2022/01/11/palidos-fim-do-nada/" class="text-light d-block text-right like"></a>
                        <a href="https://festivaldanocao.pt/2022/01/11/palidos-fim-do-nada/" class="text-light read-more">Ler Mais <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <div class="content p-3">
                    <small class="text-muted p float-right"> 11 Jan, 22</small>
                    <h4 class="mt-2"><a href="https://festivaldanocao.pt/2022/01/11/palidos-fim-do-nada/" class="text-dark title"><b>WEBSITE FESTIVAL DA NOÇÃO AVALIA "FIM DO NADA"</b></a></h4>
                    <p class="text-muted mt-2"> Artigo redigido por Rui Torres, avalia tudo o que gostou acerca do novo álbum.</p>
                    
                </div>
            </div><!--end blog post-->
        </div><!--end col-->
        
        <!-- FIM DO NADA - NOVO ALBUM-->
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="blog-post rounded border">
                <div class="blog-img d-block overflow-hidden position-relative">
                    <img src="assets/fim-do-nada.png" class="img-fluid rounded-top" alt="">
                    <div class="overlay rounded-top bg-dark"></div>
                    <div class="post-meta">
                        <a href="news/fim-do-nada-album-de-estreia-dos-palidos" class="text-light d-block text-right like"></a>
                        <a href="news/fim-do-nada-album-de-estreia-dos-palidos" class="text-light read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <div class="content p-3">
                    <small class="text-muted p float-right">17 Dez, 21</small>
                    <h4 class="mt-2"><a href="news/fim-do-nada-album-de-estreia-dos-palidos" class="text-dark title"><b>FIM DO NADA - ÁLBUM DE ESTREIA DOS PÁLIDOS</b></a></h4>
                    <p class="text-muted mt-2"> Novo LP lançado dia 17 de Dezembro em formato CD e em todas as plataformas digitais. É um álbum conceptual que se foca nas memórias e no tempo.</p>
                    
                </div>
            </div><!--end blog post-->
        </div><!--end col-->
    </div><!--end row-->
</div>
