
<div class="container">
  <div class="row">
      <div class="col-md-12" >
        <div class="py-3"></div>
        <div class="py-4"></div>
        <div style="display: inline-flex; flex-direction: row; width: 100%">
          <div style="display: inline-flex; flex-direction: column; margin:auto">
            <img src="assets/merch/black2.png" width="100%" class="image" height="100%">
          </div>
                       
<html>
 

  <body>
    <h1>Sun & Sea</h1>
    <p>Camisola de algodão com estampagem em serigrafia com design inspirado no primeiro EP da banda "EPá Lindo"</p>
    <p><strong>Tamanhos:</strong></p>
<!-- 
    <div style="display: inline-flex; align-items: center; flex-direction: row; margin:auto">
      <button class="button button1">S</button>
      <button class="button button1">M</button>
      <button class="button button1">L</button>
    </div>-->
  </body>
  <div style="display: flex; flex-wrap: wrap; flex-direction: row">
  <a href="https://palidosbanda.bandcamp.com/merch" class="btn btn-primary" target="_blank"><span class="glyphicon glyphicon-credit-card"></span> Comprar</a></div>


  </html>

        </div>
      </div>
    </div>
</div>
 
  