<div class="container mt-5">
    <div class="text-center mb-3">
        <h3>Contact us</h3>
    </div>
    <div class="row g-2">
        
        <div class="col-md-6">
            <div class="card"> <img src="https://i.imgur.com/TNKflal.png" width="40">
                <h5>Email geral</h5>
                <p>palidosbanda@gmail.com</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card"> <img src="https://i.imgur.com/TNKflal.png" width="40">
                <h5>Booking | João Veiga</h5>
                <p>palidosmanagement@gmail.com</p>
            </div>
        </div>
    </div>
</div>