<h1>Pálidos</h1>

<div id="panel">
  <div class="img-container">
    <img src="assets/nuno.png" class="image">
    <div class="middle">
      <div class="text relevance">Nuno Coelho</div>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/Manel.png" class="image">
    <div class="middle">
      <div class="text relevance">Manuel Duarte</div>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/Baf.png" class="image">
    <div class="middle">
      <div class="text relevance">João Afonso</div>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/Piscas.png" class="image">
    <div class="middle">
      <div class="text relevance">Cláudio Pascoal</div>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/Lindo.png" class="image">
    <div class="middle">
      <div class="text relevance">André Guerreiro</div>
    </div>
  </div>
  <span class="stretch"></span>
</div>


<h1>História</h1>



<div>
  <div class="text-box" style="width: 80%; margin: auto">
    <p>Banda nascida e criada em terras Lusitanas, prometendo aos deuses a elaboração de partituras musicais com elevada conotação artística anexadas ao aprimoramento do Surf Rock e de suas variações psicadélicas.</p>

    <p>Eles são Nuno Coelho nas cordas vocais e na guitarra, João Pedro Afonso na mesma coisa porque um não chega, André Guerreiro que toca muito baixo, Manuel Duarte com bateria infinita para bater nos tambores e por fim Cláudio Pascoal que não canta, mas encanta nos teclados!</p>

    <p>Conheceram-se todos na mesma faculdade e a tirarem todos o mesmo curso, Engenharia Informática. Compartilhavam a mesma paixão pela música e certo dia tiveram a ideia de formar uma banda. Assim nasciam os Pálidos em 2016 na Caparica.</p>

    <p>Desde o início que tem sido sempre a subir. Começaram a ser convidados para festas e semanas académicas, o que os levou a outros palcos como a Incrível Almadense, Sabotage, Popular Alvalade, festa do Avante, etc</p>

    <p>Dia 21 de Dezembro de 2019, lançaram o seu primeiro trabalho EP “EPá Lindo”. Foi gravado, produzido e misturado de forma independente.</p>

    <p>
      Reza a lenda que quem quer que ouça uma música deste grupo, ficará pálido para sempre.<br>
      Baseado numa história verídica.
    </p>
  </div>
</div>

<div class="py-4"></div>
