
<div id="panel">
  <div class="img-container">
    <img src="assets/nuno.png" class="image">
    <div class="middle">
      <div class="text relevance">Nuno Coelho</div>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/Manel.png" class="image">
    <div class="middle">
      <div class="text relevance">Manuel Duarte</div>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/Baf.png" class="image">
    <div class="middle">
      <div class="text relevance">João Afonso</div>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/Piscas.png" class="image">
    <div class="middle">
      <div class="text relevance">Cláudio Pascoal</div>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/Lindo.png" class="image">
    <div class="middle">
      <div class="text relevance">André Guerreiro</div>
    </div>
  </div>
  <span class="stretch"></span>
</div>

<div>
  <div class="text-box" style="width: 80%; margin: auto">
    <p>Banda nascida e criada em terras Lusitanas, mais concretamente na Caparica, prometendo aos deuses a elaboração de partituras musicais com elevada conotação artística anexadas ao aprimoramento do Surf Rock e de suas variações psicadélicas.</p>

    <p>Por volta de 2015, no festival Paredes de Coura, a banda formou-se primeiramente com 3 elementos: o João Afonso (na guitarra ritmo), o Nuno Coelho (na voz e guitarra solo) e o Manuel Duarte (na bateria). Apesar de já se conhecerem todos, a banda foi ficando completa ao longo do tempo.</p>

    <p>Partilhavam todos o mesmo gosto pela música e foi muito natural a forma como aconteceu tudo. Frequentavam todos a mesma faculdade, a Faculdade de Ciências e Tecnologias da Universidade Nova de Lisboa, e o mesmo curso, Engenharia Informática, na Caparica, até que uns meses depois começaram à procura dum baixista para terem a formação original completa.</p>
    
    <p>No início do ano de 2016, a meio duma aula, em vez de estarem todos com atenção, surgiu em conversa com o André Guerreiro poder vir a ser o baixista e assim foi. Após algumas composições e vários concertos iniciais, acharam que precisavam dum teclista a tempo inteiro. Veio primeiro o Filipe Freire, no final de 2017, e saiu por volta do Outono do ano seguinte. Cláudio Pascoal entrou assim para o seu lugar. </p>
    
    <p>Desde o início que tem sido sempre a subir. Começaram a ser convidados para festas e semanas académicas, o que os levou a outros palcos como a Incrível Almadense, Sabotage, Popular Alvalade, festa do Avante, etc</p>

    <p>Dia 21 de Dezembro de 2019, lançaram o seu primeiro EP “EPá Lindo”. Foi gravado, produzido e misturado de forma independente.</p>
    
    <p>Segue-se o seguinte EP ''No Mar de Marte'', editado em 2020. É com este EP que conseguem atingir pela primeira vez mais alguma notariedade, incluindo algumas rádios, com o seu single ''Mar e Joana''.
    
    <p>O seu primeiro álbum de estúdio é editado em 2021, intitulado ''Fim do Nada'', demonstrando uma produção mais cuidada e mais madura.</p>

    <p>
      Reza a lenda que quem quer que ouça uma música deste grupo, ficará pálido para sempre.<br>
      Baseado numa história verídica.
    </p>
  </div>
</div>

<div class="py-4"></div>
