<!-- Navigation -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark hd-dark">
  <div class="container">
    <a class="navbar-brand" href=""><div> <img src="assets/home/logo6.png" width="105" height="50" onclick="DoSomething();" />
  </div></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="news">Notícias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">Bio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="music">Música</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://palidosbanda.bandcamp.com/merch" target="_blank">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="concerts">Concertos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacts">Contactos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.gofundme.com/f/custos-de-produo-fim-do-nada?utm_campaign=p_cf+share-flow-1&utm_medium=copy_link&utm_source=customer" target="_blank">Contribui para a banda</a>
        </li>
      </ul>
    </div>
  </div>

  
</nav>
<router-outlet></router-outlet>

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              
              <div class="col item social">
                <a href="https://www.facebook.com/palidosbanda" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/palidos_banda" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/palidosbanda" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.tiktok.com/@palidosbanda" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                <a href="https://palidosbanda.bandcamp.com/" target="_blank"><i class="fa-brands fa-bandcamp"></i></a>
                <a href="https://open.spotify.com/artist/1RYxM9mKQWj90NqSLfNrXL" target="_blank"><i class="fa-brands fa-spotify"></i></a>
                <a href="https://music.apple.com/us/artist/p%C3%A1lidos/1491861859" target="_blank"><i class="fa-brands fa-apple"></i></a>
                <a href="https://music.amazon.com/artists/B07DFMCFN7/p%C3%A1lidos" target="_blank"><i class="fa-brands fa-amazon"></i></a>
                <a href="https://soundcloud.com/palidosbanda" target="_blank"><i class="fa-brands fa-soundcloud"></i></a>
              </div>
          </div>
          <p class="copyright">&copy; 2022 - Pálidos - Website Designed & Developed by André Guerreiro and Miguel Cordeiro</p>
      </div>
  </footer>
</div>

