<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container pb50">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 mb40">
            <article>
                <div style="width: 80%; margin: auto" class="img-container">
                    <img src="assets/news/tour-fim-do-nada.png" alt="banda" class="center"></div>
               
                    <div class="post-content">
                  <ul class="post-meta list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i> 16 Jun 2022
                    </li>
                </ul>

                    <h3>FIM DO NADA TOUR - APRESENTAÇÃO DO ÁLBUM DE ESTREIA</h3>
                    
                    <p>Após um longo período de ausência, devido à pandemia, os Pálidos estão de volta em força para compensar o tempo perdido.</p>
                    
                    <p>A banda está muito feliz por estar de volta aos palcos e contam convosco para a festa!
                    </p>

                    <p>São estas as datas, ainda com mais por anunciar brevemente:</p>
                    
                    <p style="margin-bottom:0"><b>8 JULHO</b> • TITANIC SUR MER • <b>CAIS DO SODRÉ, LISBOA</b></p>
                    <p style="margin-bottom:0"><b>30 JULHO</b> • CINE-TEATRO CORROIOS • <b>CORROIOS, SEIXAL</b> (com os convidados: <b>Sogranora</b> e <b>URSE</b>)</p>
                    <p style="margin-bottom:0"><b>27 AGOSTO</b> • HOLLYWOOD SPOT - ESTRELAS FEIJÓ • <b>FEIJÓ, ALMADA</b> (com os convidados: <b>Green Leather</b>)</p>
                    <p style="margin-bottom:0"><b>28 AGOSTO</b> • BALEAL SURF RANCH - PRAIA DO BALEAL • <b>BALEAL, PENICHE • **NOVA DATA**</b></p>
                    <p><b>18 NOVEMBRO</b> • CINE INCRÍVEL • <b>ALMADA</b></p>

                    <p>Atualizado a 03 de Agosto de 2022</p>
                    

        <p></p>

        <ul class="list-inline share-buttons">
            <li class="list-inline-item">Share Post:</li>
            <li class="list-inline-item">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://palidos.com/news/fim-do-nada-tour" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/share?url=https://palidos.com/news/fim-do-nada-tour" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
        </ul>
                    
                    
                </div>
            </article>
            <!-- post article-->

        </div>
     </div>
</div>