
<div class="py-2"></div>

<div class="py-3"></div>

<div class="container mt-100 mt-60">  
  <div class="row">

    <div  class="col-md-4 col-sm-12 img-container">
      <a routerLink="/music/fim-do-nada" routerLinkActive="active">
      <img src="assets/fim-do-nada.png" width="100%" class="image" height="100%">
      <div class="middle">
        <div class="text relevance">Fim do Nada [LP]</div>
        <div class="text">17/12/2021</div>
      </div>
      </a>
    </div>

    <div  class="col-md-4 col-sm-12 img-container">
      <a routerLink="/music/no-mar-de-marte" routerLinkActive="active">
      <img src="assets/cover2.jpg" width="100%" class="image" height="100%">
      <div class="middle">
        <div class="text relevance">No Mar de Marte [EP]</div>
        <div class="text">29/08/2020</div>
      </div>
      </a>
    </div>

  <div class="col-md-4 col-sm-12 img-container">
    <a routerLink="/music/epa-lindo" routerLinkActive="active">
    <img src="assets/cover1.png" width="100%" class="image" height="100%">
    <div class="middle">
      <div class="text relevance">EPá Lindo [EP]</div>
      <div class="text">21/12/2019</div>
    </div>
    </a>
  </div >

  </div>
</div>

<div style="padding: 25px;"></div>