<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <a href="https://palidosbanda.bandcamp.com/merch" target="_blank" routerLinkActive="active">
        <img class="d-block w-100" src="assets/home/tshirts.png" alt="First slide">
          <div class="carousel-caption">
            <h5 class="mt-2"><a href="https://palidosbanda.bandcamp.com/merch" target="_blank" class="text-white title"><b>NOVO MERCHANDISE JÁ EM PRÉ-VENDA</b></a></h5>
            <p class="text-light mt-2">  </p>
          </div>
      </a>
    </div>

    <div class="carousel-item">
      <a routerLink="news/fim-do-nada-tour-corroios" routerLinkActive="active">
        <img class="d-block w-100" src="assets/home/Corroios22.png" alt="Second slide">
          <div class="carousel-caption">
            <h5 class="mt-2"><a href="news/fim-do-nada-tour-corroios" class="text-white title"><b>Fim do Nada Tour: Concerto em Corroios com Sogranora e URSE</b></a></h5>
            <p class="text-light mt-2">  </p>
          </div>
      </a>
    </div>

    <div class="carousel-item">
      <a routerLink="news/fim-do-nada-album-de-estreia-dos-palidos" routerLinkActive="active">
        <img class="d-block w-100" src="assets/home/title1.png" alt="Third slide">
          <div class="carousel-caption">
            <h5 class="mt-2"><a href="news/fim-do-nada-album-de-estreia-dos-palidos" class="text-white title"><b>FIM DO NADA - ÁLBUM DE ESTREIA</b></a></h5>
            <p class="text-light mt-2"> Novo LP lançado dia 17 de Dezembro em formato CD e em todas as plataformas digitais.</p>
          </div>
      </a>
    </div>

    <div class="carousel-item">
      <a routerLink="news/website-festival-da-nocao-avalia-fim-do-nada" routerLinkActive="active">
        <img class="d-block w-100" src="assets/home/palidos.png" alt="Fourth slide">
          <div class="carousel-caption">
          <h5 class="mt-2"><a href="news/website-festival-da-nocao-avalia-fim-do-nada" class="text-white"><b>WEBSITE 'FESTIVAL DA NOÇÃO' AVALIA "FIM DO NADA"</b></a></h5>
          <p class="text-light mt-2"> Artigo redigido por Rui Torres, avalia tudo o que gostou acerca do novo álbum.</p>
          </div>
      </a>
    </div>

    <div class="carousel-item">
      <a routerLink="news/palidos-na-sic-noticias" routerLinkActive="active">
      <img class="d-block w-100" src="assets/home/sicn.png" alt="Fifth slide">
      <div class="carousel-caption">
        <h5 class="mt-2"><a href="news/palidos-na-sic-noticias" class="text-white title"><b>PÁLIDOS NA SIC NOTÍCIAS</b></a></h5>
          <p class="text-light mt-2"> Uma sugestão feita pelo jornalista Nuno Rogeiro. <b>Vê aqui o momento!</b></p>
      </div>
      </a>
    </div>

    <div class="carousel-item">
      <a routerLink="news/entrevista-palidos" routerLinkActive="active">
      <img class="d-block w-100" src="assets/home/entrevista.png" alt="Sixth slide">
      <div class="carousel-caption">
        <h5 class="mt-2"><a href="news/entrevista-palidos" class="text-white title"><b>PÁLIDOS EM ENTREVISTA</b></a></h5>
          <p class="text-light mt-2"> Entrevista concedida a Rui Torres. </p>
      </div>
      </a>
    </div>

  </div>
  
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div style="padding: 0; background-color: #282d32 ; color: white"> 
  <div style="padding: 25px; margin: auto;" class="col-md-8 align-self-center text-center">
        
    <h1 class="my-3 title  text-uppercase">TODAS AS PALIDICES NUM LUGAR SÓ</h1>
    <h6 class=" font-weight-normal op-8">Ficas todo pálido!</h6>
    <a class="btn btn-outline-light rounded-pill btn-md mt-3" href="https://linktr.ee/palidos" target="_blank"><span>Segue/ouve-nos na tua plataforma favorita</span></a>
  </div>
</div>
<img  width="100%" src = "https://i.ibb.co/Z8gMmqd/banda.png" />
 