
<div class="container">
    <div class="row">
  
      <div class="col-md-12">
        <div class="col-md-12" >
          <div class="py-3"></div>
         
          <div class="py-4"></div>
          <div style="display: flex; flex-wrap: wrap; flex-direction: row">
            <div style="margin: auto; margin-top: 0; display: flex; flex-direction: column">
              <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3554509526/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="https://palidosbanda.bandcamp.com/album/no-mar-de-marte">No Mar de Marte by Pálidos</a></iframe>
              <a href="https://palidosbanda.bandcamp.com/album/no-mar-de-marte" class="btn btn-primary" target="_blank"><span class="glyphicon glyphicon-credit-card"></span> Comprar</a>
              <p></p>
              <p><b>Lançamento:</b> 29 de Agosto de 2020</p>
              <p style ="margin:0"><b>Bio</b></p>
              <p style ="margin:0"><i>No Mar de Marte</i> é o segundo EP dos Pálidos.</p>
              <p style ="margin:0">Teve como single a canção <i>Mar e Joana</i>.</p>
              <p style ="margin:0">Foi precisamente com este single que a</p>
              <p style ="margin:0">banda consegue pela primeira vez atingir</p>
              <p>alguma notariedade.</p>

              <p style ="margin:0">Foi o segundo trabalho produzido de forma</p>
              <p style ="margin:0">independente, desta vez misturado e</p>
              <p style ="margin:0">masterizado por André Guerreiro</p>
              <p>em apenas uma semana.</p>

              <p style ="margin:0">Um videoclip foi lançado para o single</p>
              <p style ="margin:0"><i>Mar e Joana</i>, três dias após o</p>
              <p>lançamento do EP.</p>

              <p style ="margin:0"><b>Gravações</b></p>
              <p style ="margin:0">As preparações do EP começaram no início</p>
              <p style ="margin:0">de 2020, seguindo-se rapidamente as</p>
              <p style ="margin:0">gravações que ocorreram entre Janeiro e</p>
              <p style ="margin:0">Março desse ano, altura em que foram</p>
              <p style ="margin:0">interrompidas aquando da pandemia mundial</p>
              <p style ="margin:0">COVID-19. Após período de quarentena, a</p>
              <p style ="margin:0">banda retomou o trabalho e as gravações </p>
              <p style ="margin:0">finais que faltavam, em Junho de 2020.</p>

            </div>
            <div style="margin-left: 15px; margin-right: 15px; display: flex; flex-flow: column">
              <h4>Alinhamento</h4>
              <table class="table">
                <tbody>
                <tr>
                  <td>01</td>
                  <td>Dias</td>
                  <td>03:47</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>Mar e Joana</td>
                  <td>04:03</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>Beatriz</td>
                  <td>03:00</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>04</td>
                  <td>Onda Cinzenta</td>
                  <td>04:08</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                </tbody>
              </table>
              <h4>Membros</h4>
              <table class="table">
                <tbody>
                <tr>
                  <td>André Guerreiro</td>
                  <td>Baixo, vozes</td>
                </tr>
                <tr>
                  <td>Cláudio Pascoal</td>
                  <td>Teclado, vozes</td>
                </tr>
                <tr>
                  <td>João Afonso</td>
                  <td>Guitarra ritmo, vozes</td>
                </tr>
                <tr>
                  <td>Nuno Coelho</td>
                  <td>Guitarra solo, voz principal</td>
                </tr>
                <tr>
                  <td>Manuel Duarte</td>
                  <td>Bateria</td>
                </tr>
                </tbody>
              </table>
              <h4>Produção</h4>
              <table class="table">
                <tbody>
                <tr>
                  <td>Mistura e Masterização</td>
                  <td>André Guerreiro</td>
                </tr>
                </tbody>
              </table>
              <h4>Créditos Adicionais</h4>
              <table class="table">
                <tbody>
                <tr>
                  <td>Ilustrações</td>
                  <td>Daniel "O Artecore" Rodrigues</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
        <div class="py-3"></div>
  
      </div>
    </div>
  </div>
  