<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container pb50">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 mb40">
            <article>
                <div style="width: 80%; margin: auto" class="img-container">
                    <img src="assets/news/palidos.jpg" alt="Fim-do-nada" class="center"></div>
               
                    <div class="post-content">
                  <ul class="post-meta list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i> 3 Jan 2022
                    </li>
                </ul>
                
                    <h3>ARTIGO SOBRE <em>FIM DO NADA</em> NA <em>GLAM MAGAZINE</em></h3>
                    
                    <p>A <em>Glam Magazine fez um artigo inteiramente dedicado ao álbum de estreia dos Pálidos.</em></p>
                    
                    <p>Contam um pouco do percurso da banda e dos seus elementos.</p>
                    
                    <p class="lead">Para lerem o artigo original, sigam o link em baixo.</p>
        <html>
            <body>
                <a href="https://glam-magazine.pt/fim-do-nada-e-o-album-de-estreia-dos-palidos/" target="_blank">ARTIGO ORIGINAL AQUI</a> 
            </body>
        </html>
<p></p>
        <ul class="list-inline share-buttons">
            <li class="list-inline-item">Share Post:</li>
            <li class="list-inline-item">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://palidos.com/news/artigo-sobre-album-de-estreia-na-glam-magazine" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/share?url=https://palidos.com/news/artigo-sobre-album-de-estreia-na-glam-magazine" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
        </ul>
                    
                    
                </div>
            </article>
            <!-- post article-->

        </div>
     </div>
</div>