<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container pb50">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 mb40">
            <article>
                <div style="width: 80%; margin: auto" class="img-container">
                    <img src="assets/news/corroios.png" alt="banda" class="center"></div>
               
                    <div class="post-content">
                  <ul class="post-meta list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i> 6 Mai 2022
                    </li>
                </ul>

                    <h3>[Atualização a 31/05/2021] COMUNICADO DA BANDA:</h3>
                    <p>"Infelizmente, devido a casos de COVID na banda, não vai ser permitido realizarmos o nosso espectáculo a dia 3 de Junho.</p>
                    
                    <p>Lamentamos e estamos desolados por não podermos fazer esta festa com vocês, mas... só por enquanto!
                    Vamos remarcar e prometemos anunciar outras datas para breve. As nossas desculpas e esperamos ver-vos em breve!</p>

                    <p>Todos os bilhetes comprados, foram reembolsados."</p>

                    <p>- André Guerreiro, Pálidos</p>
                    
                    <h3>INÍCIO DA FIM DO NADA TOUR - APRESENTAÇÃO DO ÁLBUM DE ESTREIA</h3>
                    
                    <p>Após longos tempos de pandemia e, com isso, poucos concertos, os Pálidos estão de volta em força para compensar o tempo perdido.</p>
                    
                    <p>A banda, tendo uma ligação especial a Corroios, começa assim a sua tourné, com o primeiro concerto a ser realizado no Bar Cine-Teatro, no palco Hollywood.
                        A primeira parte do espectáculo fica a cargo dos URSE, da Caparica, seguindo-se os seixalenses, Sogranora.</p>

                    <p style="margin-bottom:0">Abertura de portas: 20h</p>
                    <p>Início: 21h</p>
                    
                    <p><b>RESERVAS DE BILHETES:</b></p>
                    <p style="margin-bottom:0"><b>Entrada:</b> 5 Óscares</p>
                    <p style="margin-bottom:0"><b>MB WAY:</b> 969385133</p>
                    <p><b>NIB:</b> 0036 0172 9910 0047 932 26</p>
                    
                    <p>Após a transferência, enviar comprovativo, com "3 de Junho + Pálidos + NOME EM QUE FICAM RESERVADOS OS BILHETES" para 969385133 por SMS ou WhatsApp ou para o mail palidosbanda@gmail.com</p>
                    
                    <p>Na hora do espetáculo, ingresso sujeito à lotação disponível.</p>

                    <p class="lead">Para consultarem o evento oficial no Facebook, sigam o link em baixo</p>
        <html>
            <body>
                <a href="https://fb.me/e/4QMUOSgix" target="_blank">Pálidos + Sogranora + URSE em Corroios no Bar Cine-Teatro</a> 
            </body>
        </html>

        <p></p>

        <ul class="list-inline share-buttons">
            <li class="list-inline-item">Share Post:</li>
            <li class="list-inline-item">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://palidos.com/news/fim-do-nada-tour-corroios" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/share?url=https://palidos.com/news/fim-do-nada-tour-corroios" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
        </ul>
                    
                    
                </div>
            </article>
            <!-- post article-->

        </div>
     </div>
</div>