<!-- A Lightbox is basically a slider (carousel) inside of a modal.

  Todos: fix active class (when you click on a photo, carousel in modal reverts to first slide) 
 *solution: added data-slide-to and data-target to imgs
-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="py-4"></div>

<div class="py-3"></div>
<div class="container pb50">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 mb40">
            <article>             
                <div class="post-content">
                   <p></p>
                        <ul class="post-meta list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-calendar-o"></i> 11 Set 2022
                        </li>
                     </ul>
                  
                
                    <h3>FIM DO NADA TOUR - Um Verão Inesquecível!</h3>
                    
                    <p>Após um longo período de ausência, devido à pandemia, os Pálidos regressaram em força aos palcos!</p>
                    
                    <p>Mensagem da banda:<br>"E assim se passou um grande verão!</p>

                    <p>Estávamos com muitas saudades de voltar aos palcos, depois de dois anos difíceis, ansiosos para tocar o novo álbum para vocês e não podia ter sido melhor.
                    Queríamos agradecer a toda a gente que compareceu e cantaram as canções connosco, não nos podiam ter enchido mais o coração!
                    </p>

                    <p>Vamos preparar mais umas surpresas e podemos confirmar que temos umas canções novas! (E a saírem ainda este ano!)</p>

                    <p>Fiquem atentos a isso e a mais datas que poderemos adicionar. Para já, marquem nas agendas, dia 18 de Novembro na Cine Incrível em Almada.
                        Queremos que seja o maior e melhor concerto que já demos. Contamos convosco!"
                    </p>

                    <p class="lead">Fiquem com alguns dos melhores momentos da tour deste verão!</p>

        <ul class="list-inline share-buttons">
            <li class="list-inline-item">Share Post:</li>
            <li class="list-inline-item">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://palidos.com/news/fim-do-nada-tour" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/share?url=https://palidos.com/news/fim-do-nada-tour" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
        </ul>
                    
                    
                </div>
            </article>
            <!-- post article-->

        </div>
     </div>
</div>

<div class="container">
  <div class="row d-flex flex-wrap align-items-center" data-toggle="modal" data-target="#lightbox">
      <div style="margin-top:15px; margin-bottom: 15px;" *ngFor="let img of galleryImgs,let i = index" data-target="#indicators" class="{{ (i == 0) ? 'active' : '' }}" attr.data-slide-to="{{i}}" class="col-12 col-md-6 col-lg-3">  
        <img style="margin:0" src="{{img.src}}" alt="{{img.description}}" /> 
      </div>
  </div>

  
  
  <!-- Modal -->
  <div class="modal fade" id="lightbox" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <button type="button" class="close text-right p-2" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div id="indicators" class="carousel slide" data-interval="false">
    <ol class="carousel-indicators">
      <li *ngFor="let img of galleryImgs,let i = index" data-target="#indicators" class="{{ (i == 0) ? 'active' : '' }}" attr.data-slide-to="{{i}}">
    </ol>
    <div class="carousel-inner">
      
      <div *ngFor="let img of galleryImgs,let i = index" class="carousel-item {{ (i == 0) ? 'active' : '' }}">
        <div  style="height: 100%; width: 100%;">
          <img class="d-block " style="object-fit: contain; width: 100%;" src="{{img.src}}" alt="{{img.description}}" /> 
        </div>  
      </div>
    </div>
    <a class="carousel-control-prev" href="#indicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#indicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
      </div>
    </div>
  </div>
                           </div>

                           <div style="padding: 25px;"></div>