
<div class="container">
    <div class="row">
  
      <div class="col-md-12">
        <div class="col-md-12" >
          <div class="py-3"></div>
          <h1>No Mar de Marte</h1>
          <div class="py-4"></div>
          <div style="display: inline-flex; flex-direction: row; width: 100%">
            <div style="display: inline-flex; flex-direction: column">
              <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3554509526/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="https://palidosbanda.bandcamp.com/album/no-mar-de-marte">No Mar de Marte by Pálidos</a></iframe>
              <a href="https://palidosbanda.bandcamp.com/album/no-mar-de-marte" class="btn btn-primary" target="_blank"><span class="glyphicon glyphicon-credit-card"></span> Comprar</a>
              <p>Lançamento: 29 de Agosto de 2020</p>
            </div>
            <div style="flex-grow: 1; margin-left: 30px">
              <h4>Alinhamento</h4>
              <table class="table">
                <tbody>
                <tr>
                  <td>01</td>
                  <td>Dias</td>
                  <td>03:47</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>Mar e Joana</td>
                  <td>04:03</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>Beatriz</td>
                  <td>03:00</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>04</td>
                  <td>Onda Cinzenta</td>
                  <td>04:08</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                </tbody>
              </table>
              <h4>Membros</h4>
              <table class="table">
                <tbody>
                <tr>
                  <td>André Guerreiro</td>
                  <td>Baixo, vozes</td>
                </tr>
                <tr>
                  <td>Cláudio Pascoal</td>
                  <td>Teclado, vozes</td>
                </tr>
                <tr>
                  <td>João Afonso</td>
                  <td>Guitarra ritmo, vozes</td>
                </tr>
                <tr>
                  <td>Nuno Coelho</td>
                  <td>Guitarra solo, voz principal</td>
                </tr>
                <tr>
                  <td>Manuel Duarte</td>
                  <td>Bateria</td>
                </tr>
                </tbody>
              </table>
              <h4>Produção</h4>
              <table class="table">
                <tbody>
                <tr>
                  <td>Mistura e Masterização</td>
                  <td>André Guerreiro</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
        <div class="py-3"></div>
  
      </div>
    </div>
  </div>
  