
<div class="container">
    <div class="row">
  
      <div class="col-md-12">
        <div class="col-md-12" >
          <div class="py-3"></div>
          <h1>Fim do Nada</h1>
          <div class="py-4"></div>
          <div style="display: inline-flex; flex-direction: row; width: 100%">
            <div style="display: inline-flex; flex-direction: column">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2071270701/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://palidosbanda.bandcamp.com/album/fim-do-nada">Fim do Nada by Pálidos</a></iframe>
              <a href="https://palidosbanda.bandcamp.com/album/fim-do-nada" class="btn btn-primary" target="_blank"><span class="glyphicon glyphicon-credit-card"></span> Comprar</a>
              <p>Lançamento: 17 de Dezembro de 2021</p>
            </div>
            <div style="flex-grow: 1; margin-left: 30px">
              <h4>Alinhamento</h4>
              <table class="table">
                <tbody>
                <tr>
                  <td>01</td>
                  <td>7 AM</td>
                  <td>01:00</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso</td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>Memória, Pt.1</td>
                  <td>03:22</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>9 AM</td>
                  <td>00:31</td>
                  <td>A. Guerreiro, C. Pascoal</td>
                </tr>
                <tr>
                  <td>04</td>
                  <td>Assado</td>
                  <td>06:19</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>05</td>
                  <td>3 PM</td>
                  <td>00:51</td>
                  <td>A. Guerreiro</td>
                </tr>
                <tr>
                  <td>06</td>
                  <td>A Brisa Passa</td>
                  <td>05:46</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>07</td>
                  <td>7 PM</td>
                  <td>00:52</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso</td>
                </tr>
                <tr>
                  <td>08</td>
                  <td>Limão</td>
                  <td>09:00</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>09</td>
                  <td>11 PM</td>
                  <td>00:20</td>
                  <td>A. Guerreiro</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Memória, Pt.2</td>
                  <td>05:22</td>
                  <td>A. Guerreiro, C. Pascoal, J. Afonso, M. Duarte, N. Coelho</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>12 AM</td>
                  <td>01:09</td>
                  <td>A. Guerreiro, C. Pascoal</td>
                </tr>
                </tbody>
              </table>
              <h4>Membros</h4>
              <table class="table">
                <tbody>
                <tr>
                  <td>André Guerreiro</td>
                  <td>Baixo, solo de guitarra em "A Brisa Passa", vozes</td>
                </tr>
                <tr>
                  <td>Cláudio Pascoal</td>
                  <td>Teclado, vozes</td>
                </tr>
                <tr>
                  <td>João Afonso</td>
                  <td>Guitarra ritmo, vozes</td>
                </tr>
                <tr>
                  <td>Manuel Duarte</td>
                  <td>Bateria</td>
                </tr>
                <tr>
                  <td>Nuno Coelho</td>
                  <td>Guitarra solo, voz principal, vozes</td>
                </tr>
                
                </tbody>
              </table>

              <h4>Produção</h4>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Produtor</td>
                    <td>André Guerreiro</td>
                  </tr>
                  <tr>
                    <td>Co-Produtor</td>
                    <td>Pedro "O Arauto" Carvalho</td>
                  </tr>
                <tr>
                  <td>Mistura e Masterização</td>
                  <td>Pedro "O Arauto" Carvalho</td>
                </tr>
                </tbody>
              </table>
              <h4>Créditos Adicionais</h4>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Arranjos Orquestra</td>
                    <td>André Guerreiro, Cláudio Pascoal, Pedro "O Arauto" Carvalho</td>
                  </tr>
                  <tr>
                    <td>Locução em "A Brisa Passa"</td>
                    <td>João Fernandes</td>
                  </tr>
                <tr>
                  <td>Saxofone em "A Brisa Passa"</td>
                  <td>Pedro Alcoforado</td>
                </tr>
                <tr>
                  <td>Ilustração da capa</td>
                  <td>Miguel "Ozzy" Floyd</td>
                </tr>
                <tr>
                  <td>Livreto</td>
                  <td>André Guerreiro</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
        <div class="py-3"></div>
  
      </div>
    </div>
  </div>
  