<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
  
        <div class="py-2"></div>
        <h1> Concertos</h1>
        <div class="py-3"></div>
  
        <table class="table table-condensed" style="border-collapse:collapse;">
          <thead>
          <tr>
            <th>2022</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <span class="glyphicon glyphicon-chevron-down"></span>
          <tbody>
              <tr data-toggle="collapse" data-target="#demo20">
                <td>03 Junho</td>
                <td>Hollywood Spot</td>
                <td>Corroios, Portugal</td>
                <td style="vertical-align: middle;">	<a class="btn btn-primary btn-sm active" href="https://fb.me/e/4QMUOSgix" data-toggle="button" aria-pressed="false" autocomplete="off">Bilhetes</a></td>
              </tr>
       
                <tr>
                  <td colspan="3" class="hiddenRow">
                    <div id="demo20" class="collapse">
                      
            <html>
              <body>
                
            </body>
        </html>
                    </div>
                 </td>
                </tr>
          </tbody>

        </table>

        <table class="table table-condensed" style="border-collapse:collapse;">
          <thead>
          <tr>
            <th>2021</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <span class="glyphicon glyphicon-chevron-down"></span>
          <tbody>
              <tr data-toggle="collapse" data-target="#demo1">
                <td>30 Maio</td>
                <td>Centro Cultural do Poceirão</td>
                <td>Poceirão, Portugal</td>
                <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
              </tr>
       
                <tr>
                  <td colspan="3" class="hiddenRow">
                    <div id="demo1" class="collapse">
                      <app-line-up-card
                        [img]= img2021_2
                        [setList]=setList2
                      >
                      </app-line-up-card>
                    </div>
                 </td>
                </tr>
          </tbody>

          <tbody>
              <tr data-toggle="collapse" data-target="#demo2">
                <td>28 Maio</td>
                <td>Centro Cultural do Poceirão</td>
                <td>Poceirão, Portugal</td>
                <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
              </tr>
       
                <tr>
                  <td colspan="3" class="hiddenRow">
                    <div id="demo2" class="collapse">
                      <app-line-up-card
                        [img]= img2021_2
                        [setList]=setList2
                      >
                      </app-line-up-card>
                    </div>
                 </td>
                </tr>
          </tbody>

        </table>

        <table class="table table-condensed" style="border-collapse:collapse;">
          <thead>
          <tr>
            <th>2020</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr data-toggle="collapse" data-target="#demo3">
            <td>17 Janeiro</td>
            <td>Hollywood Spot</td>
            <td>Corroios, Portugal</td>
            <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
          </tr>
          <tr>
            <td colspan="3" class="hiddenRow">
              <div id="demo3" class="collapse">
                <app-line-up-card
                  [img]=img1
                  [setList]=setList1
                >
                </app-line-up-card>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
  
        <table class="table table-condensed" style="border-collapse:collapse;">
          <thead>
          <tr>
            <th>2019</th>
            <th></th>
            <th></th>
          </tr>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo8">
              <td>7 Junho</td>
              <td>Cine Incrível</td>
              <td>Almada, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo8" class="collapse">
                  <app-line-up-card
                    [setList]=setList3
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>

          <tbody>
            <tr data-toggle="collapse" data-target="#demo4">
              <td>29 Março</td>
              <td>Ponto de Encontro</td>
              <td>Almada, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo4" class="collapse">
                  <app-line-up-card
                    [img]=imgpontoencontro
                    [setList]=setList2019_1
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo5">
              <td>17 Março</td>
              <td>Anjos 70</td>
              <td>Lisboa, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo5" class="collapse">
                  <app-line-up-card
                    [setList]=setList3
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo6">
              <td>2 Março</td>
              <td>Festival de Música Moderna</td>
              <td>Corroios, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo6" class="collapse">
                  <app-line-up-card
                    [img]=imgmusicamoderna
                    [setList]=setList2019_2
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
        
        </table>
  
        <table class="table table-condensed" style="border-collapse:collapse;">
          <thead>
          <tr>
            <th>2018</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo7">
              <td>20 Outubro</td>
              <td>Música Moderna - Cine Incrível</td>
              <td>Almada, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo7" class="collapse">
                  <app-line-up-card
                    [img]=imgAlmada
                    [setList]=setList4
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo9">
              <td>21 Setembro</td>
              <td>Semana do Caloiro - FCT/UNL</td>
              <td>Caparica, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo9" class="collapse">
                  <app-line-up-card
                    [img]=imgFCT
                    [setList]=setList5
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo10">
              <td>9 Setembro</td>
              <td>Festa do Avante</td>
              <td>Seixal, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo10" class="collapse">
                  <app-line-up-card
                    [img]=imgavante
                    [setList]=setList6
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo11">
              <td>9 Junho</td>
              <td>Sabotage Club</td>
              <td>Lisboa, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo11" class="collapse">
                  <app-line-up-card
                    [img]=imgsabotage
                    [setList]=setList7
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo12">
              <td>8 Junho</td>
              <td>Casa do Largo</td>
              <td>Setúbal, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo12" class="collapse">
                  <app-line-up-card
                    [img] = imgsetubal2018
                    [setList]=setList8
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo13">
              <td>25 Maio</td>
              <td>Hollywood Spot</td>
              <td>Corroios, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo13" class="collapse">
                  <app-line-up-card
                    [setList]=setList9
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo14_1">
              <td>24 Maio</td>
              <td>Popular Alvalade</td>
              <td>Lisboa, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo14_1" class="collapse">
                  <app-line-up-card
                    [setList]=setList10
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo14">
              <td>18 Maio</td>
              <td>Seek Art - FCT/UNL</td>
              <td>Caparica, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo14" class="collapse">
                  <app-line-up-card
                    [img]=imgSeekart2018
                    [setList]=setList11
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-condensed" style="border-collapse:collapse;">
          <thead>
          <tr>
            <th>2017</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo15">
              <td>6 Outubro</td>
              <td>Festival Aciprestes</td>
              <td>Linda-a-Velha, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo15" class="collapse">
                  <app-line-up-card
                    [img]=imgaciprestes
                    [setList]=setList12
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo16">
              <td>26 Maio</td>
              <td>Seek Art - FCT/UNL</td>
              <td>Caparica, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo16" class="collapse">
                  <app-line-up-card
                    [img]=imgSeekart2017
                    [setList]=setList13
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo17">
              <td>13 Maio</td>
              <td>Semana Académica Egas Moniz</td>
              <td>Almada, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo17" class="collapse">
                  <app-line-up-card
                    [img]=imgegas
                    [setList]=setList14
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo18">
              <td>5 Abril</td>
              <td>FCT/UNL</td>
              <td>Caparica, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo18" class="collapse">
                  <app-line-up-card
                     [setList]=setList15
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-condensed" style="border-collapse:collapse;">
          <thead>
          <tr>
            <th>2016</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr data-toggle="collapse" data-target="#demo19">
              <td>29 Outubro</td>
              <td>Halloween Party - FCT/UNL</td>
              <td>Caparica, Portugal</td>
              <td style="vertical-align: middle;">	<i style="vertical-align: middle;" class="fa-solid fa-up-right-and-down-left-from-center"></i></td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div id="demo19" class="collapse">
                  <app-line-up-card
                    [setList]=setList16
                  >
                  </app-line-up-card>
                </div>
              </td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
  
  <div class="py-5"></div>
  
  <script>
      $('.collapse').on('show.bs.collapse', function () {
          $('.collapse.in').collapse('hide');
      });
  </script>
  